.input {
	&__label {
		display: block;
	}

	&__text {
		display: block;
		position: relative;
		font-weight: 500;
		font-size: 12px;
		line-height: 24px;
		color: $form-label;
		padding-bottom: 2px;
	}

	&__field {
		border: none;
		width: 100%;
		height: 40px;
		background-color: $form-input;
		padding: 0 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;

		&::placeholder {
			color: $form-placeholder;
			opacity: 1;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type='number'] {
			-moz-appearance: textfield;
		}
	}
}
