.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	height: 80px;
	background-color: $primary;
	border-bottom: 1px solid $secondary;

	@media (min-width: 768px) {
		padding: 20px 0 20px 30px;
	}

	&__logo-icon {
		width: 89px;
		height: 32px;
	}
}
