.button {
	@extend .transition-active;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 30px;
	height: 40px;
	border-radius: 3px;
	background-color: $primary;
	border: 1px solid $secondary;
	cursor: pointer;
	color: $font-color;

	&:hover {
		background-color: rgba($primary, 0.8);
		color: rgba($font-color, 0.8);
		transition: none;
	}

	&:active {
		background-color: rgba($font-color, 0.2);
		border-color: rgba($font-color, 0.2);
	}

	&.blue {
		background-color: $accent;
		color: $primary;
	}
}
