.checkout-progress {
	display: flex;
	justify-content: space-between;
	margin: 0 0 64px 0;
	padding: 0;
	width: 100%;

	&__step {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		min-height: 43px;

		&:not(:last-child)::after {
			content: '';
			display: block;
			position: absolute;
			height: 0;
			width: calc(100% - 18px);
			top: 9px;
			left: calc(50% + 9px);
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: $inactive;
		}

		&._step_done::after {
			border-top-color: $accent;
		}

		&:not(:first-child)::before {
			content: '';
			display: block;
			position: absolute;
			height: 0;
			width: 100%;
			top: 9px;
			left: calc(-50% - 9px);
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: $inactive;
		}

		&._step_done::before,
		&._step_current::before {
			border-top-color: $accent;
		}

		&_number {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			text-align: center;
			color: $inactive;
			background-color: $primary;
			border: 1px solid $inactive;
			font-size: 10px;
			z-index: 3;
		}

		&._step_done &_number {
			background-color: $accent;
			border-color: $accent;
			color: $primary;
		}

		&._step_current &_number {
			background-color: $primary;
			border-color: $accent;
			color: $font-color;
		}

		&_text {
			color: $font-color;
			font-size: 14px;
		}
	}
}
