.menu {
	display: flex;
	align-items: center;

	&__item {
		position: relative;
		display: inline-block;
		align-self: center;
		width: 24px;
		height: 24px;
		background-color: transparent;
		border: none;
		margin-right: 26px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&_icon {
			width: 24px;
			height: 24px;
		}

		&_counter {
			position: absolute;
			top: -5px;
			right: -5px;
			min-width: 13px;
			height: 13px;
			padding: 0 4px;
			border-radius: 13px;
			background-color: $accent;
			font-size: 10px;
			text-align: center;
			color: $primary;
		}
	}
}
