.basket-panel {
	display: none;
	width: 410px;
	border-left: 1px solid $secondary;

	@media (min-width: 1200px) {
		display: block;
	}

	&__block {
		padding: 40px;

		&._border {
			border-bottom: 1px solid $inactive;
		}

		&_header {
			margin-bottom: 30px;
		}

		&_group {
			display: flex;
			align-items: center;
		}
	}
}
