.billing-types {
	max-width: 660px;
	margin: 0 auto;

	&__selection {
		margin: 0 0 44px 0;
		padding: 0;

		@media (min-width: 768px) {
			padding: 0 16px;
		}

		&_list {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			padding: 43px 0 0 0;

			&_item {
				list-style-type: none;
				margin-right: 22px;

				&:last-child {
					margin-right: 0;
				}

				@media (min-width: 768px) {
					margin-right: 82px;
				}
			}
		}
	}

	&__method {
		margin-bottom: 40px;
		max-width: 550px;

		@media (min-width: 768px) {
			border: 1px solid $secondary;
			box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
			border-radius: 5px;
			padding: 20px 30px 46px 30px;
		}

		&_row {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			&._input_group._group-4 > .input {
				width: 25%;
			}

			&._input_group._group-2 > .input {
				width: calc(25% - 4px);

				@media (min-width: 768px) {
					max-width: 100px;
				}
			}

			&._input_group > .input {
				margin-right: 5px;

				@media (min-width: 768px) {
					margin-right: 30px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__agreements {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		@media (min-width: 768px) {
			padding: 0 16px;
		}

		& > * {
			margin-bottom: 14px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}
}
