.checkbox {
	position: relative;
	display: inline-block;

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__input {
		display: none;

		&:checked + span:after {
			opacity: 1;
		}
	}

	&__text {
		position: relative;
		display: inline-block;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: $form-checkbox;

		&::before {
			content: '';
			border: 1px solid $inactive;
			min-width: 18px;
			min-height: 18px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: top;
		}

		&::after {
			content: '';
			background: $accent;
			min-width: 8px;
			min-height: 8px;
			position: absolute;
			top: 6px;
			left: 6px;
			transition: $transition-time;
			opacity: 0;
		}
	}
}
