.product-item {
	display: flex;
	height: 100px;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}

	&__left {
		flex: 1 0;
		display: flex;

		&__image {
			margin-right: 12px;
		}

		&__middle {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			width: 160px;

			&_controls {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&_qty {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 80px;

					&_icon {
						width: 20px;
						height: 20px;
						cursor: pointer;
					}
				}
			}
		}
	}

	&__right {
		&_icon {
			width: 18px;
			height: 18px;
			cursor: pointer;
		}
	}
}
