$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$primary: #ffffff;
$secondary: #cfcfcf;
$inactive: #d5d5d5;
$accent: #3366ff;
$font-color: #000000;

$form-input: #ededf1;
$form-label: #555770;
$form-placeholder: #8e90a6;
$form-checkbox: #8c8c8c;

$transition-time: 250ms;
