.wrapper {
	position: relative;
}

.container {
	display: flex;
	min-height: calc(100vh - 80px);

	&__left {
		flex: 1 1;
		padding: 60px 10px;

		@media (min-width: 576px) {
			padding: 60px 80px;
		}
	}
}
